$lightshade: #fbf7ef;
$darkShade: #031634;
$darkAccent: #033649;
$lightAccent: #025f60;

$screen-md: 610px;
$screen-lg: 1115px;

$pHeight: 405vh;
$s1H: 100vh;
$s2H: 105vh;
$s3H: 165vh;

/* MIXINS */
@mixin screen-md {
    @media only screen and (min-width:
    $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width:
    $screen-lg) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    font-size: 5vw;
}

html, body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
}


.parent {
    display: grid;
    height: 280vh;
    grid-template-columns: 1fr;
    grid-template-rows: $s1H $s2H $s3H;
    grid-template-areas: 
            "s1"
            "s2"
            "s3";
}

.content{
    width: 100%;
}

/* S1 - Slide 1 */
#s1 {
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    height: $s1H;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightshade;
}

#s1Content {
    @include flexCenter();
    height: 80vh;

}

#s1Content > div {
    margin-bottom: 2vh;
}

#s1ImgCont1 {
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 18vh;
    width: 18vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: none;
    user-select: none;
    -webkit-user-drag: none;
}

#portrait {
    height: auto;
    width: 18vh;
    -webkit-user-drag: none;
}

#nameRole {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
}


#name {
    color: $darkAccent;
    margin-bottom: 1vh;
}

#role {
    background-color: $lightAccent;
    color: $lightshade;
    padding: 0.3em;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 RGB(0 0 0 / 20%),
    0 6px 20px 0 RGB(0 0 0 / 19%);
    margin-bottom: 3vh;
}


#s1LinkCont {
    margin: 0;
    font-size: 2.8vh;
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 40vh;
}

#s1LinkCont * {
    text-decoration: none;
    color: #031634;
    font-weight: bold;
    margin-bottom: 3vh;
    cursor: pointer;
}

#s1LinkCont *:hover {
    color: #025f60;
}

/* S2 - Slide 2 */
#s2 {
    @include flexCenter();
    height: $s2H;
    background-color: $darkShade;
    position: relative;
    overflow: hidden;
}

#s2Accent1 {
    z-index: 1;
    position: absolute;
    top: -1vh;
    height: auto;
    width: 100%;
    transform: rotateX(180deg);
}

#waveDown {
    width: inherit;
    height: inherit;
    margin-top: -5px 0;
    -webkit-user-drag: none;
}

#s2Content {
    @include flexCenter();
    justify-content: space-between;
    margin-top: 3em;
    height: 90vh;
    width: 100%;

}


#s2Title {
    font-size: 3.5vh;
    color: $lightshade;
    font-family: 'Roboto', sans-serif;
}


/* Skill wheel */

#skillWheel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 38vh;
    width: 38vh;
    border-radius: 50%;
    background: $darkShade;
    border: medium solid $lightshade;
}


#skillsMask {
    display: none;
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 50%; 
    background: none;
    border: medium solid grey;
    opacity: 0.5;
}


.skillImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkShade;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.3vh;
    margin-top: -2.5vh;
}

#skillImgCont7 {
    align-items: flex-start;
}

#skillImgCont2 {
    justify-content: flex-end;
}

.skillImg {
    height: 3.5vh;
    width: 3.5vh;
}

#skillImgMask {
    display: none;
    position: absolute;
    background-color: $darkShade;
    width: inherit;
    height: 15.6vh;
    bottom: 4.6vh;
    left: 5.4em;
    transform: rotate(115deg);
}

#skillWheel .skillImgCont:nth-child(4) {
    transform: rotate(0deg) translate(19vh);
}

#skillWheel .skillImgCont:nth-child(5) {
    transform: rotate(45deg) translate(19vh) rotate(-45deg);
}

#skillWheel .skillImgCont:nth-child(6) {
    transform: rotate(90deg) translate(19vh) rotate(-90deg);

}

#skillWheel .skillImgCont:nth-child(7) {
    transform: rotate(135deg) translate(19vh) rotate(-135deg);
}

#skillWheel .skillImgCont:nth-child(8) {
    transform: rotate(180deg) translate(19vh) rotate(-180deg);
}

#skillWheel .skillImgCont:nth-child(9) {
    transform: rotate(225deg) translate(19vh) rotate(-225deg);
}

#skillWheel .skillImgCont:nth-child(10) {
    transform: rotate(270deg) translate(19vh) rotate(-270deg);
}

#skillWheel .skillImgCont:nth-child(11) {
    transform: rotate(315deg) translate(19vh) rotate(-315deg);
}

/* About Me */
#s2Footer {
    height: 42vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#aboutMe {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 20vh;
    max-height: 42vh;
    width: 80vw;
    color: $darkShade;
    overflow: hidden;
    border-radius: 4px;
    background: $lightshade;
    text-align: left;
    box-shadow: RGB(38 38 51 / 25%) 0px 13px 27px -5px, 
                RGB(0 0 0 / 30%) -9px 10px 16px -8px;
}

#aboutMeMenu {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 4.6vw;
    background-color: #fbf7ef;
    z-index: 1;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}

.menuNav {
    padding: 0.2em;
    text-align: center;
    width: 100%;
    border: solid thin $darkShade;
    border-left: none;
    border-top: 0;
    opacity: 0.3;
}

#menuNav1 {
    opacity: 1;
}

#menuNav3 {
    border-right: none;
}

.menuNav:hover {
    opacity: 1;
}


.footerDesc {
    overflow-y: auto;
    font-size: 2.4vh;
    padding: 0.5em;
}

#aboutMeDesc {
    display: block;
}

#backEndDesc {
    display: none;
}

.languages {
    color: #e76f00;
}

.frameworks {
    color: #68bd45;
}

.dB {
    color: #014861;
}

.footDesc {
    font-style: italic;
}

#frontEndDesc {
    display: none;
}

#s2Accent2 {
    -webkit-user-drag: none;
    font-size: 3.4vh;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
    position: absolute;
    height: 41em;
    width: auto;
    bottom: -27em;
    right: 0;
    left: 0em;
}

#gradientBlob {
    height: inherit;
    width: inherit;
    -webkit-user-drag: none;
}

#s2Accent3 {
    -webkit-user-drag: none;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -1vh;
}

#waveFaceUpWhite {
    margin: -5px 0;
    height: inherit;
    width: inherit;
    -webkit-user-drag: none;
}

/* S3 - Slide 3 */
#s3{
    background-color: $lightshade;
    height: fit-content;
    width: 100%;
    margin-bottom: 5vh;

}

#s3Content {
    max-height: fit-content;
    width: 100%;
}

#s3Title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $darkAccent;
    border-radius: 3px;
    padding: 5px;
    font-size: 3.5vh;
    width: fit-content;
    margin: 0.5em 1em 1em;
}

#projectCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectCont > .project {
    margin-bottom: 5vh;
}

.project {
    background: $darkAccent;
    color: $lightshade;
    width: 80vw;
    border: none;
    border-radius: 4px;
    box-shadow: RGB(30 30 59 / 25%) -7px 6px 10px 1px, 
                RGB(0 0 0 / 30%) 0px 8px 16px -8px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 45vh;
}

.projectImg {
    display: flex;
    justify-content: center;
    margin: 1em 0 1em;
    height: auto;
    width: 100%;
    border-radius: 3px;
}

.projectImg > img {
    opacity: 0.5;
    border: medium solid $lightshade;
}

.projectFooter {
    display: flex;
    flex-direction: column;
}

.projectFooterTitle {
    margin-left: 1em;
}

.projectList {
    margin: 0.5em 0 0.5em;
    padding-left: 1.5em;
}

.projectList > li{
    margin: 0.5em 0 0.5em;
}

.projectLink {
    align-self: center;
    text-decoration: none;
    border: medium solid $lightshade;
    color: $lightshade;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    text-align: center;
}

.projectLegend {
    background: $darkAccent;
    border-radius: 3px 3px 0 0;
    padding: 2px 5px 0;
    border-bottom: 0;
    font-weight: bold;
    color: $lightshade;
    font-weight: 100;

}

.projectText {
    margin-top: 0.2em;
    mask-image: linear-gradient(to bottom, black 48%, transparent 96%);
}

#p1 {
    overflow: hidden;
    position: relative;
}

#p1Img1 {
    height: auto;
    width: 85%;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#p1Button {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    bottom: -11%;
    right: 5%;
}


/* MEDIA QUERIES */
@include screen-md() {

    /* s1 - slide 1 */

    /* s2 - slide 2 */
    #s2Accent1 {
        top: 0;
        margin: -13px 0;
    }

    #s2Accent2 {
        height: 63em;
        bottom: -49em;
        left: 0em;
    }
        
    #aboutMeMenu {
        font-size: 2.5vh;
    }

    /* s3 - slide 3 */

    .project {
        font-size: 3vh;
    }

}

@include screen-lg() {


    .parent {
        grid-template-rows: 100vh 120vh 165vh;
    }

    /* s1 - slide 1 */

    /* s2 - slide 2 */
    #s2 {
        height: 120vh;
    }

    #s2Content {
        height: 90vh;
        font-size: 3.4vh;
        justify-content: space-between;
    }

    #s2Accent1 {
        top: 0;
        margin: -20px 0;
    }

    
    #s2Accent2 {
        height: 63em;
        bottom: -48em;
        left: 5em;
    }
    

    #s2Accent3 { 
        bottom: -3vh;
        margin: -20px 0;
    }
    
    #aboutMe {
        height: 30vh;
        width: 50vw;
    }

    /* s3 - slide 3 */
    #s3 {
        margin-top: 0;
    }

    #projectCont {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

    }

    .project {
        font-size: 2.3vh;
        width: 28%;
    }

    #p1Img1 {
        width: 55%;
    }

    #s3Title {
        font-size: 4vh;
    }
    
}