/* MIXINS */
:root {
  font-size: 5vw;
}

html, body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  min-width: 300px;
  min-height: 300px;
  max-width: 100%;
}

.parent {
  display: -ms-grid;
  display: grid;
  height: 280vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 140vh 165vh;
      grid-template-rows: 100vh 140vh 165vh;
      grid-template-areas: "s1" "s2" "s3";
}

.content {
  width: 100%;
}

/* S1 - Slide 1 */
#s1 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbf7ef;
}

#s1Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

#s1Content > div {
  margin-bottom: 2vh;
}

#s1ImgCont1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: medium solid #033649;
  border-radius: 50%;
  height: 18vh;
  width: 18vh;
  overflow: hidden;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#portrait {
  height: auto;
  width: 18vh;
}

#nameRole {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
}

#name {
  color: #033649;
  margin-bottom: 1vh;
}

#role {
  background-color: #025f60;
  color: #fbf7ef;
  padding: 0.3em;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
          box-shadow: 0 4px 8px 0 RGB(0 0 0/20%), 0 6px 20px 0 RGB(0 0 0/19%);
  margin-bottom: 10vh;
}

#media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#media * {
  margin-bottom: 2vh;
}

#s1ImgCont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vh;
}

#s1ImgCont2 > a > img {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}

.mediaImg {
  height: auto;
  width: 5vh;
}

#mediaImg1 {
  border-radius: 50%;
}

#resumeButton {
  font-size: 3.5vh;
  font-weight: bold;
  text-decoration: none;
  color: #031634;
  padding: 10px;
  border: medium solid #031634;
  border-radius: 30px;
}

#resumeButton:hover {
  color: #025f60;
  border: medium solid #025f60;
}

/* S2 - Slide 2 */
#s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140vh;
  background-color: #031634;
  position: relative;
}

#s2Accent1 {
  position: absolute;
  top: -2vh;
  height: auto;
  width: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#waveDown {
  width: inherit;
  height: inherit;
}

#s2Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 115vh;
  width: 100%;
  overflow: hidden;
}

#s2Content > div {
  margin-bottom: 5vh;
}

#s2Title {
  color: #fbf7ef;
  font-weight: bold;
}

/* Skill wheel */
#skillWheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background: #031634;
  border: medium solid #fbf7ef;
}

#skillsMask {
  display: none;
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  background: none;
  border: medium solid grey;
  opacity: 0.5;
}

.skillImgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #031634;
  border-radius: 50%;
  height: 4.6vh;
  width: 4.6vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.5vh;
  margin-top: -2.5vh;
}

.skillImg {
  height: 3.5vh;
  width: 3.5vh;
}

#skillImgMask {
  display: none;
  position: absolute;
  background-color: #031634;
  width: inherit;
  height: 4.6vh;
  bottom: 4.6vh;
  left: 5.4em;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

#skillWheel .skillImgCont:nth-child(3) {
  -webkit-transform: rotate(0deg) translate(20vh);
          transform: rotate(0deg) translate(20vh);
}

#skillWheel .skillImgCont:nth-child(4) {
  -webkit-transform: rotate(45deg) translate(20vh) rotate(-45deg);
          transform: rotate(45deg) translate(20vh) rotate(-45deg);
}

#skillWheel .skillImgCont:nth-child(5) {
  height: 1.7em;
  -webkit-transform: rotate(90deg) translate(20vh) rotate(-90deg);
          transform: rotate(90deg) translate(20vh) rotate(-90deg);
}

#skillWheel .skillImgCont:nth-child(6) {
  -webkit-transform: rotate(135deg) translate(20vh) rotate(-135deg);
          transform: rotate(135deg) translate(20vh) rotate(-135deg);
}

#skillWheel .skillImgCont:nth-child(7) {
  -webkit-transform: rotate(180deg) translate(20vh) rotate(-180deg);
          transform: rotate(180deg) translate(20vh) rotate(-180deg);
}

#skillWheel .skillImgCont:nth-child(8) {
  -webkit-transform: rotate(225deg) translate(20vh) rotate(-225deg);
          transform: rotate(225deg) translate(20vh) rotate(-225deg);
}

#skillWheel .skillImgCont:nth-child(9) {
  -webkit-transform: rotate(270deg) translate(20vh) rotate(-270deg);
          transform: rotate(270deg) translate(20vh) rotate(-270deg);
}

#skillWheel .skillImgCont:nth-child(10) {
  -webkit-transform: rotate(315deg) translate(20vh) rotate(-315deg);
          transform: rotate(315deg) translate(20vh) rotate(-315deg);
}

#skillDesc {
  z-index: 1;
  font-size: 3vh;
  width: 80vw;
  color: #fbf7ef;
  border-bottom: medium solid #fbf7ef;
}

/* About Me */
#aboutMe {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35vh;
  width: 80vw;
  padding: 0.5em;
  color: #031634;
  overflow: hidden;
  border-radius: 4px;
  background: #fbf7ef;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: left;
  -webkit-box-shadow: RGB(38 38 51/25%) 0px 13px 27px -5px, RGB(0 0 0/30%) -9px 10px 16px -8px;
          box-shadow: RGB(38 38 51/25%) 0px 13px 27px -5px, RGB(0 0 0/30%) -9px 10px 16px -8px;
}

#aboutMeTitle {
  border-bottom: thin solid #031634;
  padding-bottom: 0.2em;
  font-weight: bold;
}

#aboutMeDesc {
  font-size: 2.5vh;
  padding-top: 0.25em;
}

#s2Accent2 {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  height: 110vw;
  width: auto;
  bottom: 10vh;
  right: 0;
  left: 0vh;
}

#gradientBlob {
  height: inherit;
  width: inherit;
}

#s2Accent3 {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -2vh;
}

#waveFaceUpWhite {
  height: inherit;
  width: inherit;
}

/* S3 - Slide 3 */
#s3 {
  background-color: #fbf7ef;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-bottom: 5vh;
}

#s3Content {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
}

#s3Title {
  font-weight: bold;
  color: #fbf7ef;
  background: #033649;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em 1em 1em;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#projectCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projectCont > .project {
  margin-bottom: 5vh;
}

.project {
  background: #033649;
  color: #fbf7ef;
  width: 80vw;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: RGB(30 30 59/25%) -7px 6px 10px 1px, RGB(0 0 0/30%) 0px 8px 16px -8px;
          box-shadow: RGB(30 30 59/25%) -7px 6px 10px 1px, RGB(0 0 0/30%) 0px 8px 16px -8px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45vh;
}

.projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 1em;
  height: auto;
  width: 100%;
  border-radius: 3px;
}

.projectImg > img {
  opacity: 0.5;
  border: medium solid #fbf7ef;
}

.projectFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectFooterTitle {
  margin-left: 1em;
}

.projectList {
  margin: 0.5em 0 0.5em;
  padding-left: 1.5em;
}

.projectList > li {
  margin: 0.5em 0 0.5em;
}

.projectLink {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  border: medium solid #fbf7ef;
  color: #fbf7ef;
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.projectLegend {
  background: #033649;
  border-radius: 3px 3px 0 0;
  padding: 2px 5px 0;
  border-bottom: 0;
  font-weight: bold;
  color: #fbf7ef;
  font-weight: 100;
}

.projectText {
  margin-top: 0.2em;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(48%, black), color-stop(96%, transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 48%, transparent 96%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(48%, black), color-stop(96%, transparent));
          mask-image: linear-gradient(to bottom, black 48%, transparent 96%);
}

#p1 {
  overflow: hidden;
  position: relative;
}

#p1Img1 {
  height: auto;
  width: 85%;
  border-radius: 3px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#p1Button {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  bottom: -11%;
  right: 5%;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 610px) {
  /* s1 - slide 1 */
  /* s2 - slide 2 */
  #s2Accent2 {
    height: 85vw;
    bottom: 7vh;
    left: 1vh;
  }
  /* s3 - slide 3 */
  .project {
    font-size: 3vh;
  }
}

@media only screen and (min-width: 1115px) {
  /* s1 - slide 1 */
  /* s2 - slide 2 */
  /* s3 - slide 3 */
  #s3 {
    margin-top: 0;
  }
  #projectCont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .project {
    font-size: 2.3vh;
    width: 28%;
  }
  #s3Title {
    font-size: 4vh;
  }
}
/*# sourceMappingURL=style.css.map */