$background:#171919;
$text: #219915;

$screen-md: 820px;
$screen-lg: 1224px;

@mixin screen-md {
    @media only screen and (min-width:
    $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width:
    $screen-lg) {
        @content;
    }
}

:root {
    font-size: 5vw;
}

html, body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    color: $text;
    background-color: $background;
}


.parent {
    display: grid;
    max-width: 100%;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh;
    grid-template-areas: 
            "s1"
            "s2";

    grid-gap: 50px;
}

#s1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.12fr 0.05fr 0.5fr 1fr;
    grid-template-areas: 
            "title"
            "s1C1"
            "s1C2"
            "s1C3";
    justify-content: center;
    grid-area: s1;
    text-align: center;
    background-color: $background;
    background-clip: padding-box;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.3em  0.5em;
    grid-area: title;
    font-weight: 100;
    height: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $text;
    border-bottom: thick solid $text;
    border-radius: 2px;
}

#firstName {
    display: flex;
    justify-self: flex-start;
}

#lastName {
    display: flex;
    justify-self: flex-start;   
}

#portrait {
    position: relative;
    background-color: $background;
    border: solid thin $text;
    border-radius: 12em;
    height: 2.8em;
    width: 2.8em;
    overflow: hidden;
    user-select: none;
}

#portraitImg {
    position: absolute;
    right: 0em;
    bottom: -0.5em;
    height: 140%;

}

#s1C1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: s1C1;
    font-weight: bold;
    margin-left: 1em;
}

#s1C2 {
    overflow: hidden;
    padding: 7px 7px 0 0;
    margin: 0.5em 0.85em 0 0.85em;
    border-radius: 2px 2px 0 0;
    grid-area: s1C2;
    color: $text;
    border: thin solid $text;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    text-align: left;
}

#s1C3 {
    display: flex;
    flex-direction: column;
    grid-area: s1C3;
    margin: 1em;
    text-align: start;
    font-weight: bold;
}

.project {
    height: 90%;
    margin: 10px 0 10px 0;
    border: thin solid $text;
}

.projectLegend {
    font-size: 1em;
    font-weight: 100;
}

#p1 {
    overflow: hidden;
}

#s2 {
    display: grid;
    grid-template-areas: 
            "s2C1"
            "s2C2"
            "s2C3";
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 0.5fr 0fr;
    grid-area: s2;
    text-align: center;
}

#s2C1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s2C1;
    background-color:$background;
    overflow: hidden;
}

#skillTitle {
    font-weight: bold;
    position: absolute;
    top: 0;
}

#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background: $background;
    border: thin solid rgba($color: grey, $alpha: 0.5);
}

#skillsMask {
    display: none;
    position: absolute;
    height: 15em;
    width: 15em;
    border-radius: 50%; 
    background: none;
    border: thin solid grey;
    opacity: 0.5;
}

#skillDesc {
    display: none;
    position: absolute;
    bottom: 0;
    border: thin solid $text;
    margin: 1em;
}


.cImgButton {
    margin: 1.5em;
    opacity: 0.5;
}

.cImgButton:hover {
    opacity: 1;
}

.cImgButtonCont {
    position: absolute;
}

/* SKILL LOGOS */

.cImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1em;
    margin-top: -1em;
}

.cImg {
    opacity: 0.5;
    height: 1.5em;
    width: 1.5em;
    filter: grayscale(1);
}

#cImgMask {
    display: none;
    position: absolute;
    background-color:$background;
    width: inherit;
    height: 7em;
    bottom: 2.2em;
    left: 5.4em;
    transform: rotate(115deg);
}

#cImg3 {
    height: 1.12em;
    width: 1.12em;
}

#skills .cImgCont:nth-child(3) {
    transform: rotate(0deg) translate(7.5em);
}

#skills .cImgCont:nth-child(4) {
    transform: rotate(45deg) translate(7.5em) rotate(-45deg);
}

#skills .cImgCont:nth-child(5) {
    height: 1.7em;
    transform: rotate(90deg) translate(7.5em) rotate(-90deg);

}

#skills .cImgCont:nth-child(6) {
    transform: rotate(135deg) translate(7.5em) rotate(-135deg);
}

#skills .cImgCont:nth-child(7) {
    transform: rotate(180deg) translate(7.5em) rotate(-180deg);
}

#skills .cImgCont:nth-child(8) {
    transform: rotate(225deg) translate(7.5em) rotate(-225deg);
}

#skills .cImgCont:nth-child(9) {
    transform: rotate(270deg) translate(7.5em) rotate(-270deg);
}

#skills .cImgCont:nth-child(10) {
    transform: rotate(315deg) translate(7.5em) rotate(-315deg);
}

#s2C2 {
    grid-area: s2C2;
    background-color: steelblue;
}

#s2C3 {
    grid-area: s2C3;
    background-color: rosybrown;
}