$lightshade: #fbf7ef;
$darkShade: #031634;
$darkAccent: #033649;
$lightAccent: #025f60;

$screen-md: 610px;
$screen-lg: 1115px;

$pHeight: 320vh;
$s1H: 100vh;
$s2H: 140vh;
$s3H: 80vh;

/* MIXINS */
@mixin screen-md {
    @media only screen and (min-width:
    $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width:
    $screen-lg) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    font-size: 5vw;
}

html, body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
}


.parent {
    display: grid;
    height: 280vh;
    grid-template-columns: 1fr;
    grid-template-rows: $s1H $s2H $s3H;
    grid-template-areas: 
            "s1"
            "s2"
            "s3";
}

.content{
    width: 100%;
}

/* S1 - Slide 1 */
#s1 {
    height: $s1H;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightshade;
}

#s1Content {
    @include flexCenter();
    height: 80vh;

}

#s1Content > div {
    margin-bottom: 2vh;
}

#s1ImgCont1 {
    display: flex;
    align-items: center;
    border: medium solid $darkAccent;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    overflow: hidden;
}

#portrait {
    height: auto;
    width: 15vh;
}

#nameRole {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
}


#name {
    color: $darkAccent;
    margin-bottom: 1vh;
}

#role {
    background-color: $lightAccent;
    color: $lightshade;
    padding: 0.3em;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 RGB(0 0 0 / 20%),
    0 6px 20px 0 RGB(0 0 0 / 19%);
    margin-bottom: 10vh;
}

#media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#media * {
    margin-bottom: 2vh;
}

#s1ImgCont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40vh;
}

.mediaImg {
    height: auto;
    width: 5vh;
}

#resumeButton {
    font-size: 3.5vh;
    font-weight: bold;
    text-decoration: none;
    color: $darkShade;
    padding: 10px;
    border: medium solid $darkShade;
    border-radius: 30px;

}

#resumeButton:hover {
    color: $lightAccent;
    border: medium solid $lightAccent;
}


/* S2 - Slide 2 */
#s2 {
    @include flexCenter();
    height: $s2H;
    background-color: $darkShade;
    position: relative;
}

#s2Accent1 {
    position: absolute;
    top: -1vh;
    height: auto;
    width: 100%;
    transform: rotateX(180deg);
}

#waveDown {
    width: inherit;
    height: inherit;
}

#s2Content {
    @include flexCenter();
    justify-content: flex-start;
    height: 115vh;
    width: 100%;
    overflow: hidden;

}

#s2Content > div {
    margin-bottom: 5vh;
}

#s2Title {
    color: $lightshade;
    font-weight: bold;
}

/* Skill wheel */

#skillWheel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background: $darkShade;
    border: medium solid rgba($color: grey, $alpha: 0.5);
}

#skillsMask {
    display: none;
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 50%; 
    background: none;
    border: medium solid grey;
    opacity: 0.5;
}


.skillImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkShade;
    border-radius: 50%;
    height: 4.6vh;
    width: 4.6vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.5vh;
    margin-top: -2.5vh;
}

.skillImg {
    opacity: 0.5;
    height: 3.5vh;
    width: 3.5vh;
    filter: grayscale(1);
}

#skillImgMask {
    display: none;
    position: absolute;
    background-color: $darkShade;
    width: inherit;
    height: 4.6vh;
    bottom: 4.6vh;
    left: 5.4em;
    transform: rotate(115deg);
}

#skillImg3 {
    height: 1.12em;
    width: 1.12em;
}

#skillWheel .skillImgCont:nth-child(3) {
    transform: rotate(0deg) translate(20vh);
}

#skillWheel .skillImgCont:nth-child(4) {
    transform: rotate(45deg) translate(20vh) rotate(-45deg);
}

#skillWheel .skillImgCont:nth-child(5) {
    height: 1.7em;
    transform: rotate(90deg) translate(20vh) rotate(-90deg);

}

#skillWheel .skillImgCont:nth-child(6) {
    transform: rotate(135deg) translate(20vh) rotate(-135deg);
}

#skillWheel .skillImgCont:nth-child(7) {
    transform: rotate(180deg) translate(20vh) rotate(-180deg);
}

#skillWheel .skillImgCont:nth-child(8) {
    transform: rotate(225deg) translate(20vh) rotate(-225deg);
}

#skillWheel .skillImgCont:nth-child(9) {
    transform: rotate(270deg) translate(20vh) rotate(-270deg);
}

#skillWheel .skillImgCont:nth-child(10) {
    transform: rotate(315deg) translate(20vh) rotate(-315deg);
}

#skillDesc {
    z-index: 1;
    font-size: 3vh;
    width: 80vw;
    color: $lightshade;
    border-bottom: medium solid $lightshade;
}

/* About Me */
#aboutMe {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 80vw;
    padding: 0.5em;
    color: $darkShade;
    overflow: hidden;
    border-radius: 4px;
    background: $lightshade;
    align-self: center;
    text-align: left;
    box-shadow: RGB(38 38 51 / 25%) 0px 13px 27px -5px, 
                RGB(0 0 0 / 30%) -9px 10px 16px -8px;
}

#aboutMeTitle {
    border-bottom: thin solid $darkShade;
    padding-bottom: 0.2em;
    font-weight: bold;
}

#aboutMeDesc {
    font-size: 2.5vh;
    padding-top: 0.25em;
}

#s2Accent2 {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    height: 110vw;
    width: auto;
    bottom: 10vh;
    right: 0;
    left: 0vh;
}

#gradientBlob {
    height: inherit;
    width: inherit;
}

#s2Accent3 {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -1vh;
}

#waveFaceUpWhite {
    height: inherit;
    width: inherit;
}

/* S3 - Slide 3 */
#s3{
    background-color: $lightshade;
    height: $s3H;
    width: 100%;
}

#s3Content {

}




@include screen-md() {


}

/* MEDIA QUERIES */
@include screen-lg() {


}