:root {
  font-size: 5vw;
}

html, body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  color: #219915;
  background-color: #171919;
}

.parent {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  max-width: 100%;
  height: 300vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 100vh 100vh;
      grid-template-rows: 100vh 100vh 100vh;
      grid-template-areas: "s1" "s2" "s3";
  grid-gap: 10px;
  margin: 0.85em 0.85em 0.85em 0.85em;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1224px) {
  .parent {
    font-size: 3vh;
  }
}

@media only screen and (min-width: 812px) {
  .parent {
    font-size: 2.5vh;
  }
}

#s1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171919;
  background-clip: padding-box;
  overflow: hidden;
}

#s1Title {
  height: 20%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: title;
  font-weight: 100;
}

#name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: #219915;
  border-radius: 2px;
}

#role {
  background: #219915;
  color: #171919;
  font-weight: bold;
  padding: 5px;
  border-top: thin solid #219915;
  font-size: 0.6em;
  border-radius: 2px;
}

#portraitCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  width: 100%;
}

#portrait {
  position: relative;
  background-color: #171919;
  border: solid thin #219915;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#portraitImg {
  position: absolute;
  right: 0em;
  bottom: -0.5em;
  height: 140%;
}

#s1C1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: s1C1;
  font-weight: bold;
  margin-left: 1em;
}

#s1C2 {
  height: 35%;
  margin: 0 2em;
  padding: 0 0.5em 0.5em;
  grid-area: s1C2;
  color: #219915;
  border: thin solid #219915;
  border-top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  background: #151717;
}

#s1C3 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: s1C3;
  margin: 0 1em;
  text-align: start;
  font-weight: bold;
  display: none;
}

.project {
  height: 5em;
  margin: 10px 0 10px 0;
  border: thin solid #219915;
  overflow: hidden;
  cursor: pointer;
}

.projectLegend {
  font-size: 1em;
  font-weight: 100;
}

#s3C1 {
  position: absolute;
  height: inherit;
  top: 0;
}

#p1 {
  overflow: hidden;
  position: relative;
}

#p1Button {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  bottom: -11%;
  right: 5%;
}

#s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
  text-align: center;
  height: 100%;
  border-bottom: thin solid #219915;
}

#s3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s3;
  position: relative;
}

#s2C1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: s2C1;
  background-color: #171919;
  overflow: hidden;
  height: 25em;
}

#s2Title {
  font-weight: bold;
  position: absolute;
  top: 0;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background: #171919;
  border: thin solid rgba(128, 128, 128, 0.5);
}

#skillsMask {
  display: none;
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  background: none;
  border: thin solid grey;
  opacity: 0.5;
}

#s2Desc {
  display: none;
  position: absolute;
  bottom: 0;
  border: thin solid #219915;
  margin: 1em;
}

.s2Button {
  margin: 1.5em;
  opacity: 0.5;
}

.s2Button:hover {
  opacity: 1;
}

.s2ButtonCont {
  position: absolute;
}

/* SKILL LOGOS */
.cImgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171919;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1em;
  margin-top: -1em;
}

.cImg {
  opacity: 0.5;
  height: 1.5em;
  width: 1.5em;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#cImgMask {
  display: none;
  position: absolute;
  background-color: #171919;
  width: inherit;
  height: 7em;
  bottom: 2.2em;
  left: 5.4em;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

#cImg3 {
  height: 1.12em;
  width: 1.12em;
}

#skills .cImgCont:nth-child(3) {
  -webkit-transform: rotate(0deg) translate(7.5em);
          transform: rotate(0deg) translate(7.5em);
}

#skills .cImgCont:nth-child(4) {
  -webkit-transform: rotate(45deg) translate(7.5em) rotate(-45deg);
          transform: rotate(45deg) translate(7.5em) rotate(-45deg);
}

#skills .cImgCont:nth-child(5) {
  height: 1.7em;
  -webkit-transform: rotate(90deg) translate(7.5em) rotate(-90deg);
          transform: rotate(90deg) translate(7.5em) rotate(-90deg);
}

#skills .cImgCont:nth-child(6) {
  -webkit-transform: rotate(135deg) translate(7.5em) rotate(-135deg);
          transform: rotate(135deg) translate(7.5em) rotate(-135deg);
}

#skills .cImgCont:nth-child(7) {
  -webkit-transform: rotate(180deg) translate(7.5em) rotate(-180deg);
          transform: rotate(180deg) translate(7.5em) rotate(-180deg);
}

#skills .cImgCont:nth-child(8) {
  -webkit-transform: rotate(225deg) translate(7.5em) rotate(-225deg);
          transform: rotate(225deg) translate(7.5em) rotate(-225deg);
}

#skills .cImgCont:nth-child(9) {
  -webkit-transform: rotate(270deg) translate(7.5em) rotate(-270deg);
          transform: rotate(270deg) translate(7.5em) rotate(-270deg);
}

#skills .cImgCont:nth-child(10) {
  -webkit-transform: rotate(315deg) translate(7.5em) rotate(-315deg);
          transform: rotate(315deg) translate(7.5em) rotate(-315deg);
}

#s2C2 {
  position: relative;
  grid-area: s2C2;
  background-color: #171919;
  height: 100%;
  text-align: start;
  margin-top: 5em;
}

#s2C2Title {
  margin-bottom: 3em;
  font-weight: bold;
  text-align: center;
}

#s2C3 {
  grid-area: s2C3;
  background-color: rosybrown;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}
/*# sourceMappingURL=style.css.map */