$background:#171919;
$text: #efefef;

$screen-md: 820px;
$screen-lg: 1224px;

@mixin screen-md {
    @media only screen and (min-width:
    $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width:
    $screen-lg) {
        @content;
    }
}

:root {
    font-size: 4vw;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    color: $text;
}


.parent {
    display: grid;
    max-width: 100%;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh;
    grid-template-areas: 
            "s1"
            "s2";
}

#s1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.04fr 0.75fr;
    grid-template-areas: 
            "title"
            "s1C1"
            "s1C2";
    justify-content: center;
    grid-area: s1;
    text-align: center;
    background-color: $background;
    background-clip: padding-box;
}

.title {
    display: flex;
    align-items: flex-end;
    margin: 0;
    grid-area: title;
    font-weight: bold;
    height: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.47em;
    color: $text;
    border-bottom: thick solid $text;
    border-radius: 2px;
}

#firstName {
    display: flex;
    justify-self: flex-start;
}

#lastName {
    display: flex;
    justify-self: flex-start;   
}

#s1C1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: s1C1;
    font-weight: bold;
    margin-left: 0.8em;
}

#s1C2 {
    overflow: hidden;
    padding: 2px 2px 2px 4px;
    margin: 0 0.85em 0 0.85em;
    border-radius: 2px 2px 0 0;
    border-right: 0;
    grid-area: s1C2;
    color: $background;
    border: solid thick $text;
    background-color: $text;
    text-align: left;
}

#s2 {
    display: grid;
    grid-template-areas: 
            "s2C1"
            "s2C2"
            "s2C3";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: s2;
    text-align: center;
}

#s2C1 {
    grid-area: s2C1;
    background-color: $text;
}

#skills {
    height: 92%;
    margin: 0.85em;
    background-color: $background;
    border: thick solid $background;
    border-radius: 2px 2px 0 0;
}


#s2C2 {
    grid-area: s2C2;
    background-color: steelblue;
}

#s2C3 {
    grid-area: s2C3;
    background-color: rosybrown;
}