:root {
  font-size: 5vw;
}

html, body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  color: #219915;
}

.parent {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  height: 200vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 100vh;
      grid-template-rows: 100vh 100vh;
      grid-template-areas: "s1" "s2";
}

#s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.12fr 0.05fr 0.5fr 1fr;
      grid-template-rows: 0.12fr 0.05fr 0.5fr 1fr;
      grid-template-areas: "title" "s1C1" "s1C2" "s1C3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
  text-align: center;
  background-color: #171919;
  background-clip: padding-box;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.3em  0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-weight: 100;
  height: 100%;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #219915;
  border-bottom: thick solid #219915;
  border-radius: 2px;
}

#firstName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

#lastName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

#portrait {
  position: relative;
  background-color: #171919;
  border: solid thin #219915;
  border-radius: 12em;
  height: 2.8em;
  width: 2.8em;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#portraitImg {
  position: absolute;
  right: 0em;
  bottom: -0.5em;
  height: 140%;
}

#s1C1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s1C1;
  font-weight: bold;
  margin-left: 1em;
}

#s1C2 {
  overflow: hidden;
  padding: 7px 7px 0 0;
  margin: 0.5em 0.85em 0 0.85em;
  border-radius: 2px 2px 0 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s1C2;
  color: #219915;
  border: thin solid #219915;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  text-align: left;
}

#s1C3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: s1C3;
  margin: 1em;
  text-align: start;
  font-weight: bold;
}

.project {
  height: 90%;
  margin: 10px 0 10px 0;
  border: thin solid #219915;
}

.projectLegend {
  font-size: 1em;
  font-weight: 100;
}

#s2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s2C1" "s2C2" "s2C3";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 0.5fr 0.5fr;
      grid-template-rows: 2fr 0.5fr 0.5fr;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
  text-align: center;
}

#s2C1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s2C1;
  background-color: #171919;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 15em;
  width: 15em;
  background-color: #171919;
  border-radius: 150px;
  border: thin solid #219915;
}

/* SKILL LOGOS */
#javaImg {
  position: absolute;
  top: 5.5em;
  left: -1.2em;
  width: 2.5em;
  height: 2.5em;
}

#springImg {
  position: absolute;
  top: 0em;
  left: 2em;
  width: 2.5em;
  height: 2.5em;
}

#hibernateImg {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 2.5em;
  height: 2.5em;
}

#mysqlImg {
  position: absolute;
  top: -1em;
  right: 5.5em;
  width: 2.5em;
  height: 2.5em;
}

#jsImg {
  position: absolute;
  right: -1em;
  top: 5em;
  width: 2.5em;
  height: 2.5em;
}

#cssImg {
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  width: 2.5em;
  height: 2.5em;
}

#htmlImg {
  position: absolute;
  bottom: -1.2em;
  right: 6.2em;
  width: 2.5em;
  height: 2.5em;
}

#sassImg {
  position: absolute;
  top: 0;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
}

#s2C2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2C2;
  background-color: steelblue;
}

#s2C3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s2C3;
  background-color: rosybrown;
}
/*# sourceMappingURL=style.css.map */