:root {
  font-size: 4vw;
}

html, body {
  font-family: monospace;
  margin: 0;
  color: #219915;
}

.parent {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  height: 200vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 100vh;
      grid-template-rows: 100vh 100vh;
      grid-template-areas: "s1" "s2";
}

#s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.15fr 0.06fr 0.34fr;
      grid-template-rows: 0.15fr 0.06fr 0.34fr;
      grid-template-areas: "title" "s1C1" "s1C2";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
  text-align: center;
  background-color: #171919;
  background-clip: padding-box;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-weight: bold;
  height: 100%;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0.45em;
  color: #219915;
  border-bottom: thick solid #219915;
  border-radius: 2px;
}

#firstName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

#lastName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

#portrait {
  position: absolute;
  right: 1em;
  background-color: #171919;
  border: solid thin #219915;
  border-radius: 12em;
  height: 2.5em;
  width: 2.5em;
}

#s1C1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s1C1;
  font-weight: bold;
  margin-left: 0.9em;
}

#s1C2 {
  overflow: hidden;
  padding: 7px;
  margin: 0 0.85em 0 0.85em;
  border-radius: 2px 2px 0 0;
  border-right: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s1C2;
  color: #219915;
  border: solid thin #219915;
  text-align: left;
}

#s2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s2C1" "s2C2" "s2C3";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
  text-align: center;
}

#s2C1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s2C1;
  background-color: #219915;
}

#skills {
  height: 92%;
  margin: 0.85em;
  background-color: #171919;
  border: thick solid #171919;
  border-radius: 2px 2px 0 0;
}

#s2C2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2C2;
  background-color: steelblue;
}

#s2C3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s2C3;
  background-color: rosybrown;
}
/*# sourceMappingURL=style.css.map */